.app-content{
	background: #444444;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
}

main{
	height: 90vh;
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

nav{
	align-items: center;
	background: #1111BB;
	display: flex;
	gap: 1rem;
	justify-content: center;
	width: 100%;
}

button{
	background: none;
	border: none;
	padding: 0.5rem;
	color: white;
	font-size: 2rem;
}

button:hover{
	color: #AAAAAA;
}

.coding-box{
	background: #DDDDDD;
	border: solid black 1px;
	display: flex;
	height: 64vh;
	overflow-y: scroll;
	width: 45vh;
}

.coding-list li{
	color: white;
	font-weight: bold;
	line-height: 32px;
	padding-right: 0.5rem;
	text-align: right;
	width: 3rem;
}

.coding-input{
	flex-grow: 1;
}

.coding-input textarea{
	background: #DDDDDD;
	border: none;
	color: #333333;
	font-size: 24px;
	height: auto;
	line-height: 32px;
	padding: 0 0 0 0.5rem;
	resize: none;
	outline: none;
	overflow: auto;
	text-justify: distribute;
}

textarea::placeholder{
	color: #AAAAAA;
	font-weight: bolder;
	font-style: italic;
}

footer{
	background: #1111BB;
	display: flex;
	height: 5vh;
	justify-content: center;
	width: 100%;
}

a, a:visited{
	color: white;
	font-size: 1.5rem;
	padding: 0.5rem;
	text-decoration: none;
}

.content{
	background: #111111;
	bottom: 0;
	color: white;
	height: 15vh;
	overflow: hidden;
	width: 100%;
}

.content-enter {
	height: 0;
}
  
.content-enter-active {
	height: 15vh;
	transition: height 0.3s ease-in;
}

.content-exit {
	height: 15vh;
}

.content-exit-active {
	height: 0;
	transition: height 0.3s ease-out;
}