.app-content{
	background: #444444;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	overflow: hidden;
	width: 100vw;
}

main{
	align-items: center;
	display: flex;
	height: 90vh;
	justify-content: space-around;
	width: 100%;
}

nav{
	align-items: center;
	background: #1111BB;
	display: flex;
	gap: 1rem;
	justify-content: center;
	width: 100%;
}

button{
	background: none;
	border: none;
	color: white;
	padding: 0.5rem;
	font-size: 2rem;
}

button:hover{
	color: #AAAAAA;
}

.coding-box, .compiled-box{
	background: #DDDDDD;
	border: solid black 1px;
	box-shadow: 1rem 1rem 2rem 0.5rem black;
	display: flex;
	height: 64vh;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 40%;
}

.coding-list li, .compiled-list li{
	color: white;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	padding-right: 0.5rem;
	text-align: right;
	width: 3rem;
}

li.destaque{
	background: blue;
}

li.odd{
	background: #1111BB;
}

li.error{
	background: red;
	color: yellow;
}

.coding-input{
	flex-grow: 1;
}

.coding-input textarea{
	background: #DDDDDD;
	border: none;
	color: #333333;
	font-size: 14px;
	height: auto;
	padding: 0 0 0 0.1rem;
	line-height: 16px;
	resize: none;
	outline: none;
	white-space: pre;
	width: 100%;
	overflow-wrap: normal;
	overflow-x: auto;
}

textarea::placeholder{
	color: #AAAAAA;
	font-weight: bolder;
	font-style: italic;
}

footer{
	background: #1111BB;
	display: flex;
	height: 5vh;
	justify-content: center;
	width: 100%;
}

a, a:visited{
	color: white;
	font-size: 1.5rem;
	padding: 0.5rem;
	text-decoration: none;
}

.content{
	background: #111111;
	bottom: 0;
	color: white;
	height: 15vh;
	overflow-y: scroll;
	padding: 1rem;
	width: 100%;
}

.content-enter {
	height: 0;
}
  
.content-enter-active {
	height: 15vh;
	transition: height 0.3s ease-in;
}

.content-exit {
	height: 15vh;
}

.content-exit-active {
	height: 0;
	transition: height 0.3s ease-out;
}